<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.jiemamy.eclipse.core.dialects">
	  <dialect class="org.jiemamy.dialect.GenericDialect"/>
   </extension>

   <extension point="org.jiemamy.eclipse.core.exporters">
	  <exporter
	        name="SQL"
            class="org.jiemamy.composer.exporter.SqlExporter"
            wizard="org.jiemamy.eclipse.core.ui.composer.SqlExporterWizard"/>
   </extension>

   <extension point="org.jiemamy.eclipse.core.importers">
	  <importer
	        name="Database"
            class="org.jiemamy.composer.importer.DatabaseImporter"
            wizard="org.jiemamy.eclipse.core.ui.composer.DatabaseImportWizard"/>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.jiemamy.eclipse.core.ui.newWizard.category"
            name="Jiemamy"/>
      <wizard
            category="org.jiemamy.eclipse.newWizard.category"
            class="org.jiemamy.eclipse.core.ui.wizard.NewDiagramWizard"
            icon="/icons/database.gif"
            id="org.jiemamy.eclipse.wizard.newDiagram"
            name="Jiemamy ER Diagram"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="org.jiemamy.eclipse.core.ui.preference.JiemamyPreferencePage"
            id="org.jiemamy.preference"
            name="Jiemamy"/>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.jiemamy.eclipse.core.ui.preference.JiemamyPreferenceInitializer"/>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <!--<editor
            class="org.jiemamy.eclipse.editor.MultiDiagramEditor"
            contributorClass="org.jiemamy.eclipse.editor.JmContributor"
            default="true"
            extensions="jer"
            icon="/icons/database.gif"
            id="org.jiemamy.eclipse.editor.multi.diagram"
            name="%plugin.erd.editor"/>-->
      <editor
            class="org.jiemamy.eclipse.core.ui.editor.JiemamyDiagramEditor"
            contributorClass="org.jiemamy.eclipse.core.ui.editor.JmActionBarContributor"
            default="true"
            extensions="jiemamy"
            icon="/icons/database.gif"
            id="org.jiemamy.eclipse.core.ui.editor.diagram"
            name="%plugin.erd.editor"/>
   </extension>

   <extension
         id="problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
      <attribute name="id"/>
      <attribute name="flags"/>
      <attribute name="arguments"/>
      <attribute name="categoryId"/>
   </extension>

<!--

   <extension point="org.jiemamy.eclipse.validators">
      <validator class="org.jiemamy.eclipse.editor.validator.EntityIdentifierValidator" />
      <validator class="org.jiemamy.eclipse.editor.validator.TableValidator" />
      <validator class="org.jiemamy.eclipse.editor.validator.ForeignKeyValidator" />
   </extension>
   <extension point="org.eclipse.ui.views">
      <category
            id="org.jiemamy.eclipse"
            name="%plugin.view.category"/>
      <view
            category="org.jiemamy.eclipse"
            class="org.jiemamy.eclipse.views.RecordView"
            icon="icons/sample.gif"
            id="org.jiemamy.eclipse.view.record"
            name="%plugin.view.record"/>
   </extension>
-->

</plugin>
